body 
{
  padding: 0;
  margin: 0;
  background-color: #0a192f; 
}

h1 
{
  background-color: #0052cc; 
  color: #ffffff;            
  text-align: center;
  padding: 20px;
  margin: 0;
}

.card 
{
  background-color: #172a45; 
  color: #f4f6f9;           
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 10px 30px rgba(0, 82, 204, 0.3); 
}